# =========================
# MySQL
# =========================
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_PASSWORD=

# =========================
# Paystack (payment-service)
# =========================
PAYSTACK_SECRET_KEY=
PAYSTACK_BASE_URL=

# =========================
# Flutterwave (payment-service & kyc-service)
# =========================
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_BASE_URL=

# =========================
# Eureka / Discovery
# =========================
EUREKA_SERVER_URL=

# =========================
# SMTP / Notifications
# =========================
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=