# Server
SERVER_PORT=8085

# Database
DATASOURCE_URL=
DATASOURCE_USERNAME=
DATASOURCE_PASSWORD=

# JPA/Hibernate
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Eureka
EUREKA_DEFAULT_ZONE=
EUREKA_REGISTER=true
EUREKA_FETCH_REGISTRY=true
EUREKA_PREFER_IP=true

# Feign client
FEIGN_CONNECT_TIMEOUT=
FEIGN_READ_TIMEOUT=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# KYC
KYC_IDEMPOTENCY_TTL_MINUTES=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=