# Database
DATASOURCE_URL=jdbc:mysql://mysql_payment_service:3306/gatepay_payment_service
DATASOURCE_USERNAME=root
DATASOURCE_PASSWORD=root

# JPA/Hibernate
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Server
SERVER_PORT=8087

# Eureka
EUREKA_DEFAULT_ZONE=http://discovery-service:8761/eureka/
EUREKA_REGISTER=true
EUREKA_FETCH_REGISTRY=true
EUREKA_PREFER_IP=true

# Feign client
FEIGN_CONNECT_TIMEOUT=5000
FEIGN_READ_TIMEOUT=5000

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Paystack
PAYSTACK_SECRET_KEY=your_paystack_secret_key
PAYSTACK_PUBLIC_KEY=your_paystack_public_key
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_DEFAULT_CURRENCY=NGN

# Flutterwave
FLUTTERWAVE_SECRET_KEY=your_flutterwave_secret_key
FLUTTERWAVE_PUBLIC_KEY=your_flutterwave_public_key
FLUTTERWAVE_ENCRYPTION_KEY=your_flutterwave_encryption_key
FLUTTERWAVE_BASE_URL=https://api.flutterwave.com/v3