# Database
DATASOURCE_URL=
DATASOURCE_USERNAME=
DATASOURCE_PASSWORD=

# JPA/Hibernate
SPRING_JPA_HIBERNATE_DDL_AUTO=update

# Server
SERVER_PORT=8087

# Eureka
EUREKA_DEFAULT_ZONE=
EUREKA_REGISTER=true
EUREKA_FETCH_REGISTRY=true
EUREKA_PREFER_IP=true

# Feign client
FEIGN_CONNECT_TIMEOUT=
FEIGN_READ_TIMEOUT=

# Paystack
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=
PAYSTACK_BASE_URL=
PAYSTACK_DEFAULT_CURRENCY=

# Flutterwave
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_ENCRYPTION_KEY=
FLUTTERWAVE_BASE_URL=